.product{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}
.product-details{
    color:rgb(35, 48, 53);
    font-weight: 400;
    padding-left: 15px;
}
button{
    background-color: goldenrod;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}